version: "3.8"
services:
  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    privileged: true
    cap_add:
      - NET_ADMIN
    networks:
      client_net:
        ipv4_address: 172.28.0.10
    tty: true

  fw:
    build:
      context: ./firewall
      dockerfile: Dockerfile
    privileged: true        # 반드시 privileged 필요
    cap_add:
      - NET_ADMIN
    networks:
      client_net:
        ipv4_address: 172.28.0.2
      server_net:
        ipv4_address: 172.29.0.2
    tty: true
    # FW 시작 시 IP forwarding 미리 적용
    sysctls:
      net.ipv4.ip_forward: 1

  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    privileged: true
    cap_add:
      - NET_ADMIN
    networks:
      server_net:
        ipv4_address: 172.29.0.10
    tty: true

networks:
  client_net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.28.0.0/24
  server_net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.29.0.0/24